<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.blundell.droidcondubai">

  <uses-feature android:name="android.hardware.type.watch" />

  <application
    android:allowBackup="true"
    android:label="@string/app_name"
    android:icon="@drawable/ic_launcher"
    android:theme="@android:style/Theme.DeviceDefault">

    <activity
      android:name="com.blundell.droidcondubai.MainActivity"
      android:label="@string/title_activity_main">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name="com.blundell.droidcondubai.WatchFaceActivity"
      android:taskAffinity=""
      android:allowEmbedded="true">

      <meta-data
        android:name="com.google.android.clockwork.home.preview"
        android:resource="@drawable/ic_launcher" />

      <meta-data
        android:name="com.google.android.clockwork.home.preview_circle"
        android:resource="@drawable/ic_launcher" />

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="com.google.android.clockwork.home.category.HOME_BACKGROUND" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <service
      android:name=".WatchFace"
      android:label="@string/service_name"
      android:taskAffinity=""
      android:allowEmbedded="true"
      android:permission="android.permission.BIND_WALLPAPER">

      <meta-data
        android:name="android.service.wallpaper"
        android:resource="@xml/watch_face" />

      <meta-data
        android:name="com.google.android.clockwork.home.preview"
        android:resource="@drawable/ic_launcher" />

      <meta-data
        android:name="com.google.android.clockwork.home.preview_circle"
        android:resource="@drawable/ic_launcher" />

      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService" />

        <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
      </intent-filter>

    </service>

  </application>

</manifest>
